nav.navbar {
  padding: 0;
}

textarea {
  width: 100%;
  padding-left: 0.25rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  color: #4f4f4f;
  border-radius: 0.25rem;
  resize: none;
  margin-bottom: 1rem;
}
